@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#root {
  min-height: 100vh;
  display: flex;
}
body {
  background-color: lightgray;
  font-family: 'Roboto', sans-serif;

  margin: 0px;
  padding: 0px;
}
.app {
  font-size: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1;
}
